@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
  margin: 0;
  height: 100vh;
  background: url(franklinMtnElPaso_P.jpg) center center no-repeat;
  background-size: cover;
}

.text, .text2 {
  font-family: 'Courgette', cursive;
  color: white;
}

.icon_rows {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 50px;
  justify-items: center;
}

.name_row {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-auto-rows: 175px;
  justify-items: center;
}

@media only screen and (min-width: 640px){
  body {
    background: url(franklinMtnElPaso_T.jpg) center center no-repeat;
    background-size: cover;
  }

}

@media only screen and (min-width: 960px){
  body {
    background: url(franklinMtnElPaso_D.jpg) center center no-repeat;
    background-size: cover;
  }
  .name_row {
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
}

@media only screen and (min-width: 1200px){
  body {
    background:url(franklinMtnElPaso_LD.jpg) center center no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 1600px){
  body {
    background: url(franklinMtnElPaso_XLD.jpg) center center no-repeat;
    background-size: cover;
  }
}